In [291]:
import wbgapi as wb
import wbdata
import pandas as pd
from countrycode import countrycode
import numpy as np

In [198]:
countries = pd.read_csv('data/export_countries.csv', index_col=0, header = 1, names = ['Country'])

### Explore worldbank api

In [222]:
# wb.source.info()
# wb.series.info() 
wb.series.info('NY.GDP.PCAP.CD') 
wb.economy.info(['CAN', 'USA', 'MEX'])

id    value          region    incomeLevel
----  -------------  --------  -------------
CAN   Canada         NAC       HIC
MEX   Mexico         LCN       UMC
USA   United States  NAC       HIC
      3 elements

## get annual gdp for countries in export data

In [174]:
# countries.iloc[:,0].to_list()

In [207]:
countries['country_code'] = country_codes
countries

                 Country country_code
1                Albania          ALB
2    Antigua And Barbuda          ATG
3              Argentina          ARG
4                Armenia          ARM
5                  Aruba          ABW
..                   ...          ...
153              Uruguay          URY
154           Uzbekistan          UZB
155            Venezuela          VEN
156             Viet Nam          VNM
157           Yugoslavia         None

[157 rows x 2 columns]

### Mapping Countries - code, continent

In [296]:
continent_list = []
for country_code in iso_codes_list:
    if country_code is None:
        continent_list.append(np.nan)
    else:
        continent_value = countrycode(country_code, origin = "iso3c", destination = "continent")
        continent_list.append(continent_value)

In [ ]:
continent_list

In [297]:
countries['continent'] = continent_list
countries

                 Country country_code continent
1                Albania          ALB    Europe
2    Antigua And Barbuda          ATG  Americas
3              Argentina          ARG  Americas
4                Armenia          ARM      Asia
5                  Aruba          ABW  Americas
..                   ...          ...       ...
153              Uruguay          URY  Americas
154           Uzbekistan          UZB      Asia
155            Venezuela          VEN  Americas
156             Viet Nam          VNM      Asia
157           Yugoslavia         None       NaN

[157 rows x 3 columns]

In [298]:
countries.to_csv('data/country_code_mapping.csv', index = False)

## GDP DATA

In [30]:
gdp_indicator = 'NY.GDP.MKTP.CD'
country_code = ['PRK', 'TWN']

In [235]:
# Assuming `countries` is a DataFrame or a list of country names
country_names = countries.iloc[:, 0].to_list()
country_names[:20]

['Albania',
 'Antigua And Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Bonaire, Sint Eustatius And Saba',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cabo Verde']

In [194]:
data = wb.economy.coder(country_names)
data.items()

dict_items([('Albania', 'ALB'), ('Antigua And Barbuda', 'ATG'), ('Argentina', 'ARG'), ('Armenia', 'ARM'), ('Aruba', 'ABW'), ('Australia', 'AUS'), ('Austria', 'AUT'), ('Bahamas', 'BHS'), ('Bahrain', 'BHR'), ('Barbados', 'BRB'), ('Belarus', 'BLR'), ('Belgium', 'BEL'), ('Belize', 'BLZ'), ('Bermuda', 'BMU'), ('Bolivia', 'BOL'), ('Bonaire, Sint Eustatius And Saba', None), ('Brazil', 'BRA'), ('Bulgaria', 'BGR'), ('Burkina Faso', 'BFA'), ('Cabo Verde', 'CPV'), ('Cambodia', 'KHM'), ('Cayman Islands', 'CYM'), ('Central African ', None), ('Chile', 'CHL'), ('China', 'CHN'), ('Christmas Island', None), ('Cocos', None), ('Colombia', 'COL'), ('Congo, Democratic   ', None), ('Costa Rica', 'CRI'), ("Cote D'Ivoire", 'CIV'), ('Cuba', 'CUB'), ('Cyprus', 'CYP'), ('Czechia', 'CZE'), ('Czechoslovakia', None), ('Denmark', 'DNK'), ('Djibouti', 'DJI'), ('Dominica', 'DMA'), ('Dominican ', None), ('Ecuador', 'ECU'), ('Egypt', 'EGY'), ('Estonia', 'EST'), ('Eswatini', 'SWZ'), ('Fiji', 'FJI'), ('Finland', 'FIN'), ('Former Union  Soviet Socialist Republics', None), ('France', 'FRA'), ('French Polynesia', 'PYF'), ('French Southern Antarctic Territories', None), ('French Southern Territories', None), ('Gabon', 'GAB'), ('Gambia', 'GMB'), ('Georgia', 'GEO'), ('Germany', 'DEU'), ('Ghana', 'GHA'), ('Greece', 'GRC'), ('Greenland', 'GRL'), ('Guadeloupe', None), ('Guam', 'GUM'), ('Guatemala', 'GTM'), ('Guinea', 'GIN'), ('Guinea-Bissau', 'GNB'), ('Haiti', 'HTI'), ('Heard Island And Mcdonald Islands', None), ('Honduras', 'HND'), ('Hong Kong', 'HKG'), ('Hungary', 'HUN'), ('Iceland', 'ISL'), ('India', 'IND'), ('Indonesia', 'IDN'), ('Iran', 'IRN'), ('Ireland', 'IRL'), ('Israel', 'ISR'), ('Italy', 'ITA'), ('Jamaica', 'JAM'), ('Japan', 'JPN'), ('Jordan', 'JOR'), ('Kazakhstan', 'KAZ'), ('Kenya', 'KEN'), ('Kiribati', 'KIR'), ('Korea, North', 'PRK'), ('Korea, South', 'KOR'), ('Kuwait', 'KWT'), ('Kyrgyzstan', 'KGZ'), ('Laos', 'LAO'), ('Lebanon', 'LBN'), ('Lesotho', 'LSO'), ('Luxembourg', 'LUX'), ('Macao', 'MAC'), ('Malawi', 'MWI'), ('Malaysia', 'MYS'), ('Maldives', 'MDV'), ('Malta', 'MLT'), ('Martinique', None), ('Mauritius', 'MUS'), ('Mexico', 'MEX'), ('Moldova,  ', 'MDA'), ('Mongolia', 'MNG'), ('Morocco', 'MAR'), ('Myanmar', 'MMR'), ('Namibia', 'NAM'), ('Nauru', 'NRU'), ('Nepal', 'NPL'), ('Netherlands', 'NLD'), ('Netherlands Antilles', 'NLD'), ('New Zealand', 'NZL'), ('Niger', 'NER'), ('Norfolk Island', None), ('Norway', 'NOR'), ('Oman', 'OMN'), ('Pakistan', 'PAK'), ('Panama', 'PAN'), ('Peru', 'PER'), ('Philippines', 'PHL'), ('Poland', 'POL'), ('Portugal', 'PRT'), ('Qatar', 'QAT'), ('Romania', 'ROU'), ('Russian Federation', 'RUS'), ('Saint Helena, Ascension And Tristan Da Cunha', None), ('Saint Pierre And Miquelon', None), ('Saudi Arabia', 'SAU'), ('Senegal', 'SEN'), ('Serbia', 'SRB'), ('Seychelles', 'SYC'), ('Sierra Leone', 'SLE'), ('Singapore', 'SGP'), ('Slovakia', 'SVK'), ('Slovenia', 'SVN'), ('South Africa,  ', 'ZAF'), ('South Sudan', 'SSD'), ('Spain', 'ESP'), ('Sri Lanka', 'LKA'), ('Sweden', 'SWE'), ('Switzerland', 'CHE'), ('Syria', 'SYR'), ('Taiwan', 'TWN'), ('Tajikistan', 'TJK'), ('Tanzania, United  ', 'TZA'), ('Thailand', 'THA'), ('Timor-Leste', 'TLS'), ('Tokelau', None), ('Trinidad And Tobago', 'TTO'), ('Tunisia', 'TUN'), ('Turkiye', 'TUR'), ('Turks And Caicos Islands', 'TCA'), ('Ukraine', 'UKR'), ('Union  Soviet Socialist Republics', None), ('United Arab Emirates', 'ARE'), ('United Kingdom', 'GBR'), ('United States', 'USA'), ('United States Minor Outlying Islands', 'USA'), ('Uruguay', 'URY'), ('Uzbekistan', 'UZB'), ('Venezuela', 'VEN'), ('Viet Nam', 'VNM'), ('Yugoslavia', None)])

In [195]:
data.keys()

dict_keys(['Albania', 'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bermuda', 'Bolivia', 'Bonaire, Sint Eustatius And Saba', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cayman Islands', 'Central African ', 'Chile', 'China', 'Christmas Island', 'Cocos', 'Colombia', 'Congo, Democratic   ', 'Costa Rica', "Cote D'Ivoire", 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican ', 'Ecuador', 'Egypt', 'Estonia', 'Eswatini', 'Fiji', 'Finland', 'Former Union  Soviet Socialist Republics', 'France', 'French Polynesia', 'French Southern Antarctic Territories', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Heard Island And Mcdonald Islands', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Lesotho', 'Luxembourg', 'Macao', 'Malawi', 'Malaysia', 'Maldives', 'Malta', 'Martinique', 'Mauritius', 'Mexico', 'Moldova,  ', 'Mongolia', 'Morocco', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Zealand', 'Niger', 'Norfolk Island', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Saint Helena, Ascension And Tristan Da Cunha', 'Saint Pierre And Miquelon', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa,  ', 'South Sudan', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania, United  ', 'Thailand', 'Timor-Leste', 'Tokelau', 'Trinidad And Tobago', 'Tunisia', 'Turkiye', 'Turks And Caicos Islands', 'Ukraine', 'Union  Soviet Socialist Republics', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Yugoslavia'])

In [167]:
print(dir(data))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_coder_report', '_repr_html_', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [204]:
country_codes = list(data.values())
# country_codes

In [225]:
gdp_data = wb.data.DataFrame(gdp_indicator, country_codes, time=range(1988, 2023))

In [226]:
gdp_data

,YR1988,YR1989,YR1990,YR1991,YR1992,YR1993,YR1994,YR1995,YR1996,YR1997,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
ABW,5.966480e+08,6.955307e+08,7.648045e+08,8.720670e+08,9.586592e+08,1.083240e+09,1.245810e+09,1.320670e+09,1.379888e+09,1.531844e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
ALB,2.051236e+09,2.253090e+09,2.028554e+09,1.099559e+09,6.521750e+08,1.185315e+09,1.880951e+09,2.392765e+09,3.199641e+09,2.258514e+09,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10
ARE,3.627567e+10,4.146500e+10,5.070144e+10,5.155217e+10,5.423917e+10,5.562517e+10,5.930509e+10,6.574367e+10,7.357123e+10,7.883901e+10,...,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11
ARG,1.268902e+11,7.662973e+10,1.413526e+11,1.897200e+11,2.287790e+11,2.367417e+11,2.574400e+11,2.580318e+11,2.721498e+11,2.928590e+11,...,5.520251e+11,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11
ARM,NaN,NaN,2.256839e+09,2.069870e+09,1.272835e+09,1.201313e+09,1.315159e+09,1.468317e+09,1.596969e+09,1.639492e+09,...,1.112146e+10,1.160951e+10,1.055334e+10,1.054614e+10,1.152746e+10,1.245794e+10,1.361929e+10,1.264170e+10,1.386141e+10,1.950278e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA,5.236438e+12,5.641580e+12,5.963144e+12,6.158129e+12,6.520327e+12,6.858559e+12,7.287236e+12,7.639749e+12,8.073122e+12,8.577554e+12,...,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13,2.546270e+13
UZB,NaN,NaN,1.336061e+10,1.367762e+10,1.294130e+10,1.309901e+10,1.289916e+10,1.335047e+10,1.394889e+10,1.474460e+10,...,7.318004e+10,8.084539e+10,8.619626e+10,8.613829e+10,6.208132e+10,5.287011e+10,6.028350e+10,6.022470e+10,6.960061e+10,8.039185e+10
VEN,6.022641e+10,4.353671e+10,4.860695e+10,5.345344e+10,6.041652e+10,6.003746e+10,5.841867e+10,7.738949e+10,7.054321e+10,8.583768e+10,...,3.710054e+11,4.823593e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VNM,2.542381e+10,6.293305e+09,6.471741e+09,9.613370e+09,9.866990e+09,1.318095e+10,1.628643e+10,2.073616e+10,2.465747e+10,2.684370e+10,...,2.137088e+11,2.334515e+11,2.392583e+11,2.570960e+11,2.813536e+11,3.101065e+11,3.343653e+11,3.466158e+11,3.661376e+11,4.088024e+11
ZAF,1.039769e+11,1.080556e+11,1.260481e+11,1.352037e+11,1.469561e+11,1.471948e+11,1.535127e+11,1.717359e+11,1.632349e+11,1.689781e+11,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11

In [220]:
type(gdp_data)

pandas.core.frame.DataFrame

In [236]:
economy_data = wb.economy.DataFrame()
economy_data

,name,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
id,,,,,,,,,
ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad
AFE,Africa Eastern and Southern,True,NaN,NaN,,,,,
AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul
AFW,Africa Western and Central,True,NaN,NaN,,,,,
AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda
...,...,...,...,...,...,...,...,...,...
XKX,Kosovo,False,20.9260,42.56500,ECS,ECA,IDX,UMC,Pristina
YEM,"Yemen, Rep.",False,44.2075,15.35200,MEA,MNA,IDX,LIC,Sana'a
ZAF,South Africa,False,28.1871,-25.74600,SSF,SSA,IBD,UMC,Pretoria
ZMB,Zambia,False,28.2937,-15.39820,SSF,SSA,IDX,LMC,Lusaka
ZWE,Zimbabwe,False,31.0672,-17.83120,SSF,SSA,IDB,LMC,Harare

In [234]:
economy_data = economy_data.reset_index(drop=False)
economy_data = economy_data[['id', 'name', 'region']]
economy_data

      id                         name region
0    ABW                        Aruba    LCN
1    AFE  Africa Eastern and Southern
2    AFG                  Afghanistan    SAS
3    AFW   Africa Western and Central
4    AGO                       Angola    SSF
..   ...                          ...    ...
261  XKX                       Kosovo    ECS
262  YEM                  Yemen, Rep.    MEA
263  ZAF                 South Africa    SSF
264  ZMB                       Zambia    SSF
265  ZWE                     Zimbabwe    SSF

[266 rows x 3 columns]